@import '../../../sass-config';

.nodes-container {
    height: 50%;
    border-bottom: 1px rgb(175, 216, 248) solid;
    border-left: 1px rgb(175, 216, 248) solid;
    touch-action: none;

    div {
    @include flexCenter();

    }
}